[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "A blackjack game with full testing added. "
[access "refs/*"]
	owner = group Project Owners
	owner = group user/David Kronish (davidkronish)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/David Kronish (davidkronish)
	label-Verified = -1..+1 group user/David Kronish (davidkronish)
	push = group user/David Kronish (davidkronish)
	read = group user/David Kronish (davidkronish)
	rebase = group user/David Kronish (davidkronish)
	removeReviewer = group user/David Kronish (davidkronish)
	submit = group user/David Kronish (davidkronish)
[access "refs/heads/*"]
	create = group user/David Kronish (davidkronish)
	push = +force group user/David Kronish (davidkronish)
	pushMerge = group user/David Kronish (davidkronish)
	read = group user/David Kronish (davidkronish)
[access "refs/tags/*"]
	push = group user/David Kronish (davidkronish)
	push = +force group user/David Kronish (davidkronish)
